* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    line-height: 1.2;
}

/* navbar */

.container,
.media {
    padding: 12px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 2em;
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

a:hover {
    color: rgb(209, 206, 201);
}

.navbar {
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

/* header (media) */

.media {
    background-color: #1f2937;
    gap: 4em;
    padding: 60px 10%;
}

.media {
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

img {
    max-width: 100%;
    min-width: 180px;
}

.image {
    flex: 1;
    max-width: 700px;
}

.content {
    flex: 1;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

p {
    font-size: 18px;
    color: #e5e5e5;
    margin-bottom: 8px;
}

button {
  background: royalblue;
  border: 3px solid royalblue;
  color: white;
  cursor: pointer;
  padding: 4px 32px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 18px;
}

button:hover {
    background-color: #3882f6;
    border: 1px dotted rgb(209, 206, 201);
}

/* section 1 */

.section-one {
    text-align: center;
    padding: 0 15%;
}

.title {
    margin: 1em 0;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.container-boxes {
    display: flex;
    gap: 3em;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 6em;
}

.box {
    flex: 1;
    /* min-width: 50px; */
    max-width: 300px;
}

.box img {
  border-radius: 12px;
}

/* section 2 (quote)*/

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}   

.section-two {
    background-color: #e5e7eb;
    padding: 6em 15%;
}

.container-quote {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author {
    align-self: flex-end;
    margin-right: 5%;
    font-weight: bold;
    font-size: 18px;
}